<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cashBanksLOV">
            <h2><span>Cash Banks LOV</span> {{ cashBanksLOV.bankPartyId }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Bank Name</span></dt>
                <dd>
                    <span>{{ cashBanksLOV.bankName }}</span>
                </dd>
                <dt><span>Bank Number</span></dt>
                <dd>
                    <span>{{ cashBanksLOV.bankNumber }}</span>
                </dd>
                <dt><span>Bank Party Id</span></dt>
                <dd>
                    <span>{{ cashBanksLOV.bankPartyId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cash-banks-lov', cashBanksLOV.bankPartyId, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
