<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>Library on thymeleaf</span>
  <div class="spacer"></div>
</div>

<div class="container">
  <div class="row">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a th:href="@{/users}" href="users.html">Users</a> 
                </li>
            <li class="list-inline-item">
              <a th:href="@{/books}" href="books.html">Books</a> 
                </li>
              <li class="list-inline-item">
                  <a href="/logout">Logout</a>
              </li>
          </ul>
    </div>
  </div>
</div>

</body>
</html>
