<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cash-bank-accounts-lov-heading">Create or edit a Cash Bank Accounts LOV</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <!-- <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" for="field_bankAccountId">Bank Account Id</label>
                    <input type="number" class="form-control" name="bankAccountId" id="field_bankAccountId"
                           formControlName="bankAccountId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_bankAccountName">Bank Account Name</label>
                    <input type="text" class="form-control" name="bankAccountName" id="field_bankAccountName"
                           formControlName="bankAccountName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_maskedAccountNumber">Masked Account Number</label>
                    <input type="text" class="form-control" name="maskedAccountNumber" id="field_maskedAccountNumber"
                           formControlName="maskedAccountNumber"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
